@model BusinessLogicLayer.OrderView
@{
    ViewData["Title"] = "OrderCreation";
}

<h2>OrderCreation</h2>


<form asp-action="OrderCreate" asp-controller="Home">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MobilePhone">MobilePhone</label>
        <input asp-for="MobilePhone" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Type">Type</label>
        <input asp-for="Type" type="text" class="form-control" />
    </div>

    <input type="submit" value="Create" class="btn btn-default"/>
</form>